<div >
<p>
	<h1>Article Details</h1>
	<small>Submitted <%= time_ago_in_words(@article.created_at) %> ago</small>
	<p>Uploader: <%=@article.user.email%></p>
  <div><h2>Title:</h2> 
  <%= @article.title %>  
</div>
</p>
<p>
  <h2>Desc:</h2>
  <%= @article.desc %>
</p>
<h3>Comments</h3>
	<%=render 'comments/form'%>
<ul>
  <%= render(partial: 'comments/comment', collection: @article.comments) %>
</ul>
<%- if user_signed_in? %> 
	
		<%= link_to 'Edit', edit_article_path(@article) %>
	
<%end%>
<div><%= link_to 'Back', articles_path %></div>

</div>
</div>