<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Opening:</strong>
  <%= @product.opening %>
</p>
<p>
  <strong>Avatar</strong>
  </p>
<%= image_tag @product.image_url.to_s %>
<p>
  <strong>Body:</strong>
  <%= @product.body %>
</p>

<p>
  <strong>Conclusion:</strong>
  <%= @product.conclusion %>
</p>

<p>
  <strong>Aboutauthor:</strong>
  <%= @product.aboutauthor %>
</p>
<h3>Comments</h3>
  <%=render 'comments/form'%>
<ul>
  <%= render(partial: 'comments/comment', collection: @product.comments) %>
</ul>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Destroy', product_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', products_path %>

