<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-sm-9">
    <h1>
      <%= @product.title %>
    </h1>
    <h6>
      <%= @product.created_at %>
    </h6>
    <h3><%=@product.opening%></h3>
    <h6><%= @product.body %></h6>
    <h6><%= @product.conclusion %></h6>
    <h3>Comments</h3>
      <%=render 'comments/form'%>
    <ul>
      <%= render(partial: 'comments/comment', collection: @product.comments) %>
    </ul>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Destroy', product_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Back', products_path %>
    </div>
    <div class="col-sm-3">
      <%= image_tag @product.image_url.to_s %>
      <h4 align="center"><%= @product.aboutauthor %></h4>
    </div>

  </div>
</div>

