<!DOCTYPE html>
<html>
  <head>
    <title>DemoDevise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%- if user_signed_in? %>
    <div style="text-align: right;"><%=current_user.email %> </div>
<div style="text-align: right;"> <%= link_to 'New article', new_article_path %> 
  <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
<% else %>
<p style="text-align: right;">
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
  </p>
<% end %>

    </div>
     <%= yield %>
  </body>
</html>
