<!DOCTYPE html>
<html>
  <head>
    <title>DemoDevise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/over.css.scss">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
      height: 200px;
      background: #aaa;
  }
  </style>
  </head>

  <body>
    <div class="jumbotron text-center" style="margin-bottom:0">
      <h1>My Exercise in TMA</h1>
      <p>News Website</p> 
    </div>         
      <nav class="navbar navbar-inverse ">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:3000/">DemoDevise</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:3000/">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%- if user_signed_in? %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> <%=current_user.email%><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a rel="nofollow" data-method="create" href="/products">New Post</a></li>
                  <li>
                    <!-- <a href="/products/mypost">My Posts</a> -->
                    <%= link_to("My Posts", mypost_products_path) %>
                  </li>
                </ul>
              </li>
              <li><a rel="nofollow" data-method="delete" href="/users/sign_out"><span class="glyphicon glyphicon-log-out"> </span> Sign out</a></li>
            <% else %>
              <li><a href="/users/sign_in"><span class="glyphicon glyphicon-user"></span> Sign in</a></li>
              <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
            <% end %> 
          </ul>
        </div>
      </nav>
    <div>
      <%= yield %>
    </div>
    <div class="jumbotron text-center" style="margin-bottom:0">
      <p>Intern TMA</p>
      <h5>Nguyen Phuoc An Khang</h5>
      <h6>Ton Duc Thang University</h6>
    </div>
  </body>
  </html>
